.blog_body {
  position: relative;
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.blog_card {
  position: relative;
  display: block;
  width: 500px;
  height: 400px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.blog_title {
  position: relative;
  font-size: 18px;
  margin: 10px;
}

.blog_image {
  position: relative;
  height: 70%;
  width: 100%;
  border: 1px solid blue;
}

.blog_info {
  position: relative;
  height: 30%;
  width: 100%;
  border: 1px solid green;
}

.image_block {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}

.image_block:hover .image_backdrop {
  height: 0;
  transition: 0.3s;
}

.image_backdrop {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transition: 0.3s;
}

.blog_icon {
  position: absolute;
  height: 30px;
  width: 30px;
}

.timeline_container {
  position: relative;
  height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blog_timeline_body {
  position: absolute;
  display: inline-block;
  top: 0;
  margin-left: 10px;
}

.blog_timeline {
  position: fixed;
}

.timeline_circle {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 20px;
}
