.main_body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  height: 100%;
  border: 1px solid green;
}

.product_body {
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.15s;
}

.product_image {
  position: relative;
  margin: 10px;
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
}

.product_body:hover {
  background-color: #ededed;
  box-shadow: 5px 5px 5px #e1e1e1;
  transition: 0.3s;
}

.image_new {
  position: relative;
  height: 45px;
  width: 45px;
}
