.main_body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  height: 100%;
  border: 1px solid green;
}

.product_body {
  height: 200px;
  width: 200px;
  margin: 15px;
  border: 1px solid orange;
}
